// ################### NAVBAR #####################

ul.topnav {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: space-around;
  opacity: .8;
  li {
    list-style: none;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

ul.topnav {
  li.dropdownIcon {
    display: none;
  }
}

// ################### MOBILE #####################

@media screen and (max-width: 320px) {
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: 10px;
    }
  }

  ul.responsive {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: .8;
    position: relative;
    li {
       display: inline;
       list-style: none;
       float: none;
       a {
           color: white;
           display: block;
           font-size: 14px;
           margin-bottom: 10px;
           padding-top: 10px;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    color: purple;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: 10px;
    }
  }

  ul.responsive {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: .8;
    position: relative;
    li {
       display: inline;
       list-style: none;
       float: none;
       a {
           color: white;
           display: block;
           font-size: 14px;
           margin-bottom: 10px;
           padding-top: 10px;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    color: purple;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
  }
}
