@import "variables";

// ################### NAVBAR #####################

ul.topnav {
  align-items: center;
  background-color: $nav-background-color;
  color: $nav-anchor-color;
  display: flex;
  font-size: $nav-font-size;
  height: $nav-height;
  justify-content: space-around;
  opacity: $opacity;
  li {
    list-style: none;
    a {
      color: $nav-anchor-color;
      text-decoration: none;
    }
  }
}

ul.topnav {
  li.dropdownIcon {
    display: none;
  }
}

// ################### MOBILE #####################

@media screen and (max-width: 320px) {
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: $nav-padding;
    }
  }

  ul.responsive {
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: $opacity;
    position: relative;
    li {
       display: inline;
       list-style: none;
       float: none;
       a {
           color: $nav-anchor-color;
           display: block;
           font-size: $nav-font-size;
           margin-bottom: $nav-margin;
           padding-top: $nav-padding;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: $nav-padding;
  }
}

@media screen and (max-width: 480px) {
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: $nav-padding;
    }
  }

  ul.responsive {
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: $opacity;
    position: relative;
    li {
       display: inline;
       list-style: none;
       float: none;
       a {
           color: $nav-anchor-color;
           display: block;
           font-size: $nav-font-size;
           margin-bottom: $nav-margin;
           padding-top: $nav-padding;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    padding-right: $nav-padding;
    position: absolute;
    right: 0;
    top: 0;
  }
}
